@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

.navbar {
  background: #1b2b1c;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #bff102;
  background-image: linear-gradient(to top, #48b10b 0%, #bff102 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #bff102;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #bff102;
  color: #000;
}

.button:hover {
  background: rgb(254, 254, 254);
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: rgb(254, 254, 254);
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #1b2b1c;
  }
  .navbar__menu.active {
    background: #203121;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }
  #navbar__logo {
    padding-left: 25px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__btn {
    padding: 1rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Section 1.1 CSS */
.main {
  background-color: #203121;
}
.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #203121;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content h2 {
  font-size: 4rem;
  background-color: #bff102;
  background-image: linear-gradient(to top, #48b10b 0%, #bff102 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #d3d3d3;
}

.main__btn {
  font-size: 1rem;
  background: #bff102;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #f9f9f9;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #040404;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #48b10b;
  transition: all 0.35s;
  border-radius: 4 px;
}

.main__btn:hover {
  color: #f9f9f9;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

#main__img {
  height: 80%;
  width: 80%;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__content h2 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* Section 1.2 CSS*/
.aboutus {
  background-color: #203121;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.aboutus h1 {
  background-color: #bff102;
  background-image: linear-gradient(to right, #48b10b 0%, #bff102 100%);
  background-size: 100%;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.aboutus__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.aboutus__card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    ),
    url("images/about-us.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #bff102;
}

.aboutus__card:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    ),
    url("images/stuff.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #bff102;
}

.aboutus h2 {
  position: absolute;
  top: 350px;
  left: 30px;
}
.aboutus__card p {
  position: absolute;
  top: 400px;
  left: 30px;
}
.aboutus__card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #bff102;
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.aboutus__card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
}

@media screen and (max-width: 960px) {
  .aboutus {
    height: 1600px;
  }
  .aboutus h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
}
@media screen and (max-width: 480px) {
  .aboutus {
    height: 1400px;
  }
  .aboutus h1 {
    font-size: 1.2rem;
  }
  .aboutus__card {
    width: 300px;
  }
}

/* Staff Slider CSS */

.container {
  width: 100%;
  display: flex;
  padding: 0 20;
}

.slide {
  height: 80vh;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  color: #bff102;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* Footer CSS */

.footer__container {
  background-color: #1b2b1c;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footer__logo {
  color: #bff102;
  display: block;
  margin: auto;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.copyright__section {
  color: #bff102;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

/* Social Icons */
.social__icons--link {
  color: #bff102;
  max-width: 1000px;
  font-size: 24px;
}

.social__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 0;
}

/* About Us Page */

.main__content h3 {
  font-size: 2rem;
  background-color: #bff102;
  background-image: linear-gradient(to top, #48b10b 0%, #bff102 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#about__img {
  height: 70%;
  width: 70%;
}

/* Philosophy */

.philosophy {
  background-image: url("images/stuff.jpg");
  background-size: cover;
  background-position: center;
}

.philosophy__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
}

.philosophy__content h3 {
  font-size: 2rem;
  background: #bff102;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.philosophy__content p {
  color: #000000;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

/* <a> tag */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}

/* Contact Us Page*/
.contactUs__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: start;
  justify-self: center;
  margin: 0 auto;
  height: auto;
  background-color: #203121;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
  gap: 20px;
}

.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  height: 0;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.form-heading {
  color: #f2f3f5;
  padding-bottom: 8px;
}

.form-title {
  font-size: 2em;
  font-weight: bold;
  border-bottom: 4px solid white;
}

.form-link {
  color: #66ccff;
  text-decoration: none;
}

.form-input,
.form-textarea {
  padding: 10px;
  background: #e3ecc0;
  border: none;
  margin: 10px 0;
}

.form-button {
  font-size: 1rem;
  background: #bff102;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}
